<h3>Reactive form</h3>
<form class="form-inline my-2 my-lg-0"
      [formGroup]="profileForm"
      (ngSubmit)="onSubmit()">

  <label> <span class="text">First name:</span>
    <input id="firstName"
           type="text"
           class="form-control mr-sm-2"
           formControlName="firstName">
  </label>

  <div *ngIf="firstName.invalid && (firstName.dirty || firstName.touched)"
       class="alert alert-danger">
    <div *ngIf="firstName.errors.required">
      first name is required
    </div>
    <div *ngIf="firstName.errors.pattern">
      first name can only contain numbers and letters
    </div>
  </div>

  <label> <span class="text">Last name:</span>
    <input type="text"
           class="form-control mr-sm-2"
           formControlName="lastName">
  </label>

  <div *ngIf="lastName.invalid && (lastName.dirty || lastName.touched)"
       class="alert alert-danger">
    <div *ngIf="lastName.errors.required">
      last name is required
    </div>
    <div *ngIf="lastName.errors.pattern">
      last name can only contain numbers and letters
    </div>
  </div>

  <label> <span class="text">User name:</span>
    <input type="text"
           class="form-control mr-sm-2"
           formControlName="userName">
  </label>

  <div *ngIf="userName.invalid && (userName.dirty || userName.touched)"
       class="alert alert-danger">
    <div *ngIf="userName.errors.required">
      user name is required
    </div>
    <div *ngIf="userName.errors.pattern">
      user name can only contain numbers and letters
    </div>
  </div>

  <label> <span class="text">Email:</span>
    <input type="text"
           class="form-control mr-sm-2"
           formControlName="email">
  </label>

  <div *ngIf="email.invalid && email.touched"
       class="alert alert-danger">
    <div *ngIf="email.errors.required">
      email is required
    </div>
    <div *ngIf="email.errors.pattern">
      enter valid email
    </div>
  </div>

  <label> <span class="text">Password:</span>
    <input type="password"
           class="form-control mr-sm-2"
           formControlName="password"
           (input)="validPassword()">
  </label>

  <div *ngIf="password.invalid && password.touched"
       class="alert alert-danger">
    <div *ngIf="password.errors.required">
      password is required
    </div>
    <div *ngIf="password.errors.minlength">
      password must contain at least 10 characters
    </div>
  </div>

  <label> <span class="text">Confirm password:</span>
    <input type="password"
           class="form-control mr-sm-2"
           formControlName="confirmPassword"
           (input)="validPassword()">
  </label>

  <div *ngIf="confirmPassword.invalid && confirmPassword.touched"
       class="alert alert-danger">
    <div *ngIf="confirmPassword.errors.required">
      confirm password is required
    </div>
  </div>

    <div *ngIf="errors"
         class="alert alert-danger">
      {{errors}}
    </div>



  <div class="form-inline">
    <label> <span class="text">Region:</span>
      <select class="form-control mr-sm-2"
              formControlName="region">
        <option>1</option>
        <option>2</option>
        <option>3</option>
        <option>4</option>
        <option>5</option>
      </select>
    </label>
  </div>

  <div *ngIf="region.invalid && (region.dirty || region.touched)"
       class="alert alert-danger">
    <div *ngIf="region.errors.required">
      region is required
    </div>
  </div>

  <div class="form-inline">
    <span class="text"> Sex </span>
    <div class="wrapperCheck">
      <label class="text">
        <input type="radio"
               class="form-check-input mr-sm-2"
               value="men"
               formControlName="sex">
        men
      </label>
      <label class="text">
        <input type="radio"
               class="form-check-input mr-sm-2"
               value="women"
               formControlName="sex">
        women
      </label>
    </div>
  </div>


  <div class="form-check">
    <label>
      <span class="textCheck"> Send me promotional emails:</span>
      <input class="form-check-input mr-sm-2"
             type="checkbox"
             formControlName="emailPermission">
    </label>
  </div>

  <div class="form-inline">
    <label>
      <span class="text">Additional info:</span>
      <textarea class="form-control mr-sm-2" rows="3"
                formControlName="additionalInfo"></textarea>
    </label>
  </div>

  <div class="wrapperButton">
    <button [disabled]="!profileForm.valid || errors"
            class="btn btn-secondary disabled">Submit
    </button>
  </div>
</form>
